.browse{

padding:40px;

background:#111827;

color:white;

min-height:100vh;

}

.movie-row{

display:flex;

gap:20px;

overflow-x:auto;

padding-bottom:20px;

margin-bottom:40px;

}

.movie-row img{

width:180px;

border-radius:15px;

cursor:pointer;

transition:.3s;

}

.movie-row img:hover{

transform:scale(1.05);

}

.genres{

display:flex;

flex-wrap:wrap;

gap:15px;

margin-top:25px;

}

.genres span{

padding:10px 18px;

background:#1f2937;

border-radius:30px;

cursor:pointer;

transition:.3s;

}

.genres span:hover{

background:#ef4444;

}