.search-container{

position:relative;

width:360px;

}

.search-input{

width:100%;

padding:14px 20px;

border:none;

outline:none;

background:#1f2937;

color:white;

border-radius:30px;

font-size:15px;

}

.search-input:focus{

box-shadow:0 0 0 3px rgba(239,68,68,.3);

}

.search-results{

position:absolute;

top:58px;

left:0;

right:0;

background:#1f2937;

border-radius:18px;

overflow:hidden;

box-shadow:0 15px 40px rgba(0,0,0,.5);

z-index:999;

}

.search-item{

display:flex;

gap:15px;

padding:12px;

cursor:pointer;

transition:.25s;

align-items:center;

}

.search-item:hover{

background:#374151;

}

.search-item img{

width:50px;

height:70px;

object-fit:cover;

border-radius:8px;

}

.search-item h4{

margin:0;

font-size:15px;

color:white;

}

.search-item p{

margin-top:6px;

color:#9ca3af;

font-size:13px;

}